<div class="header"> {{title}} </div>
<div style="display: flex">
  <div>
    <h1><u>Data Sets</u></h1>
    <div class="box">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Search</mat-label>
        <input (keyup.enter)="after_user_search_table($event.target.value)" matInput type="search" placeholder="Ex. music table">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Limit: default 50 (<0 as 0)</mat-label>
          <input (keyup.enter)="after_user_limit_table($event.target.value)" matInput type="search" placeholder="30">
        </mat-form-field>
      </form>

    <mat-selection-list #tables [multiple]="false">
      <mat-list-option *ngFor="let table of search_results" [value]="table" (click)="after_user_select_table(tables.selectedOptions.selected[0]?.value)">
        <div class="center-vertically">
        {{table}}
          <mat-icon>navigate_next</mat-icon>
        </div>
      </mat-list-option>
    </mat-selection-list>

    <p> Option selected: {{tables.selectedOptions.selected[0]?.value}} </p>
    </div>
  </div>

  <div style="flex-grow: 1" class="table_container">
  <h1><u>View Data</u></h1>
  <mat-tab-group class="box" animationDuration="0ms" (selectedTabChange)="after_tab_change($event.index)">
    <mat-tab label="Top 50 rows">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="table_datasource.data">
          <ng-container *ngFor="let column of table_datasource.columns" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef>
              {{column}}
            </th>
            <td mat-cell *matCellDef="let row">
              {{row[column]}}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="table_datasource.columns"></tr>
          <tr mat-row *matRowDef="let row; columns: table_datasource.columns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 50, 1000]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </mat-tab>


    <mat-tab label="SQL Query">
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Query</mat-label>
          <input (keyup.enter)="after_user_query($event.target.value)" matInput type="search" placeholder="Ex. SELECT * FROM ARTIST_TABLE;">
        </mat-form-field>
      </form>
      <mat-card>
        {{query_message}}
      </mat-card>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="query_datasource.data">
          <ng-container *ngFor="let column of query_datasource.columns" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef>
              {{column}}
            </th>
            <td mat-cell *matCellDef="let row">
              {{row[column]}}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="query_datasource.columns"></tr>
          <tr mat-row *matRowDef="let row; columns: query_datasource.columns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 50, 1000]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </mat-tab>
  </mat-tab-group>
  </div>

  <div class="example-flex-container">
    <button (click)="export_data()" mat-icon-button color="primary" aria-label="Example icon button with a download icon">
      <mat-icon>download</mat-icon>
    </button>
  </div>

</div>

